

/* ---- Mobile only styling ---- */
@media (max-width: 991.98px) {

  nav {
    width: 100%;
  }

  #navbar-container, #navbar-top-menu {
    width: 100%;
  }

  .subscribe-for-updates {
    font-size: 3.5vw!important;
  }

  .container {
    width: 100%;
  }

  .navbar-toggler {
    align-self: inherit;
    position: initial;
  }

  .navbar-brand {
    display: inline-flex;
  }

  #mainNav {
    background-color: transparent;
  }

  .navbar {
    padding: 0;
  }
  .navbar-collapse {
    width: 100%;
  }

  .projects-section .project-text {
    padding: 3% !important;
  }

  #mainNav .navbar-toggler {
    color: #32adff;
    border: 2px solid #ccc;
    border-radius: 0;
  }

  #mainNav .navbar-toggler:hover {
    border-color: #32adff;
  }

  #mainNav .navbar-toggler:active {
    border-color: white;
  }

  #mainNav.navbar-shrink .nav-link {
    text-align: center;
  }

  #navbar-buttons li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

}

.subscribe-for-updates {
  font-size: 2vw;
}

/* ---- Prevent user from being able to double click ---- */
.no-select {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}


#mainNav .nav-link {
  -webkit-text-fill-color: rgba(240,176,54, 1);
  padding: 1.5rem 1.5rem 1.25rem;
  border: 0;
}

#mainNav .nav-link:hover {
  -webkit-text-fill-color: white;
}

#mainNav .navbar-brand {
  -webkit-text-fill-color: rgba(240,176,54, 1);
}

#mainNav {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}
#mainNav.navbar-shrink {
  background-color: rgba(0,0,0, 0.8);
  border-bottom: 1px solid rgba(240,176,54, 0.8);
  transition: 0.5s ease-in-out;
}

#mainNav.navbar-shrink .nav-link {
  color: #161616;
  padding: 1.5rem 1.5rem 1.25rem;
  border: 0;
}

#mainNav.navbar-shrink .nav-link.active {
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  border: 0;
}

.title-icon {
  width: 64px;
  height: 64px;
  background: url('../img/icon.png');
  background-size: 64px 64px;
}

.hidden-anchor {
  position: relative;
  top: -15px;
}

/* ---- Custom title font ---- */
@font-face {
  font-family: 'Title';
  src: url('../font/Quantum.woff2') format('woff2'),
  url('../font/Quantum.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Subheading';
  src: url('../font/LemonMilklight.woff2') format('woff2'),
  url('../font/LemonMilklight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.masthead {
  background: url("../img/edinburgh.jpg");
  background-size: 100%;
}

.masthead h1, .masthead h2 {
  display: inline-block;
  max-width: 100%;
}

.inline {
  display: inline-block;
}

.projects-section .project-text hr {
  border-color: #32adff;
}

.projects-section .project-text {
  padding: 10%;
}

.masthead h2, .sub-heading {
  text-align: center;
  font-family: 'Subheading';
  -webkit-text-fill-color: rgba(240,176,54, 1);
  background-color: white;
  padding: 15px 35px;
  border: 2px solid #ccc;
  background-color: rgba(0, 0, 0, 0.8);
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera */
  white-space: nowrap; /* Chrome */
  word-wrap: break-word; /* IE */
}

.masthead h1, .title-text {
  width: auto;
  font-size: 6.5rem;
  line-height: 6.5rem;
  letter-spacing: .8rem;
  font-family: 'Title';
  opacity: 1;
  background: none;
  color: white;
  -webkit-text-fill-color: white;
}

.mb-5, .my-5 {
  margin-bottom: 2rem!important;
}

.red-text {
  color: red;
  -webkit-text-fill-color: red;
}

/* ---- Button css ---- */
.btn-primary {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 0;
  color: #32adff;
  margin: 0 8px;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #32adff;
  border-color: inherit;
}

.btn-primary:focus {
  background-color: rgba(0, 0, 0, 1);
  color: #32adff;
  border-color: white!important;
}

.btn-primary:active {
  background-color: rgba(0, 0, 0, 1)!important;
  color: #32adff;
  border-color: #32adff!important;
}

#button-box {
  z-index: 100;
  position: relative;
}

/* ---- Description text ---- */
.text-white-50 {
  color: white!important;
}

/* ---- particles.js container ---- */
#particles-js {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0
}

#inputEmail {
  border-radius: 0;
}