body {
  margin: 0;
  padding: 0;
}

.about-section,
.dark-blue-bg {
  background: #17153a;
}

.workshop-item {
	width: 100%;
	height: 100%;
	border-radius: 6em;
	overflow: hidden;
}

.border-box {
	margin-bottom: 2em;
}

.workshop-item-image {
	border: 0;
}

.workshop-item-textbox {
	padding: 3%!important;
	background-color: #161616!important;
	border: 0;
}

/* ---- Mobile only styling ---- */
@media (max-width: 991.98px) {
  nav {
    width: 100%;
  }

  #navbar-container,
  #navbar-top-menu {
    width: 100%;
  }

  .subscribe-for-updates {
    font-size: 3.5vw !important;
  }

  .container {
    width: 100%;
  }

  .navbar-toggler {
    align-self: inherit;
    position: initial;
  }

  .navbar-brand {
    display: inline-flex;
  }

  #mainNav {
    background-color: transparent;
  }

  .navbar {
    padding: 0;
  }
  .navbar-collapse {
    width: 100%;
  }

  .projects-section .project-text {
    padding: 3% !important;
  }
  .project-text {
	  padding: 3% !important;
  }

  #mainNav .navbar-toggler {
    color: #32adff;
    border: 2px solid #ccc;
    border-radius: 30px;
  }

  #mainNav .navbar-toggler:hover {
    border-color: #32adff;
  }

  #mainNav .navbar-toggler:active {
    border-color: white;
  }

  #mainNav.navbar-shrink .nav-link {
    text-align: center;
  }

  #navbar-buttons li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .btn-primary {
    margin-bottom: 50px !important;
  }
}

.subscribe-for-updates {
  font-size: 2vw;
}

/* ---- Prevent user from being able to double click ---- */
.no-select {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

#mainNav .nav-link {
  -webkit-text-fill-color: white;
  padding: 1.5rem 1.5rem 1.25rem;
  border: 0;
}

#mainNav .nav-link:hover {
  -webkit-text-fill-color: white;
}

#mainNav .navbar-brand {
  -webkit-text-fill-color: white;
}

#mainNav {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.5s ease-in-out;
}

#mainNav.navbar-shrink {
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid white;
  transition: 0.5s ease-in-out;
}

#mainNav.navbar-shrink .nav-link {
  color: #161616;
  padding: 1.5rem 1.5rem 1.25rem;
  border: 0;
}

#mainNav.navbar-shrink .nav-link.active {
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  border: 0;
}

.title-icon {
  width: 64px;
  height: 64px;
  background: url("../img/icon.png");
  background-size: 64px 64px;
}

.hidden-anchor {
  position: relative;
  top: -15px;
}

/* ---- Custom title font ---- */
@font-face {
  font-family: "Title";
  src: url("../fonts/NexaBold.eot"); /* IE9 Compat Modes */
  src: url("../font/NexaBold.woff2") format("woff2"),
    /* Modern Browsers */ url("../font/NexaBold.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/NexaBold.svg") format("svg"),
    /* Legacy iOS */ url("../fonts/NexaBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/NexaBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NexaBold.otf") format("opentype"); /* Open Type Font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaRegular";
  src: url("../font/ProximaNovaRegular.otf");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "SubBtnText";
  src: url("../font/ProximaNovaBold.otf");
  font-weight: normal;
  font-size: normal;
}

.inline {
  display: inline-block;
}

.projects-section .project-text hr {
  border-color: #32adff;
}

.projects-section .project-text {
  padding: 10%;
}

.masthead h2,

.sub-heading {
  text-align: center;
  font-family: "Title";
  color: white;
  font-size: 2rem;
}

.masthead h1,
.title-text {
  font-family: "Title";
  text-align: center;
  opacity: 1;
  background: url("../img/title-scrolling.png");
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 150s linear infinite;
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}

@media (min-width: 992px) {
  .masthead h2 {
    max-width: 40rem;
    font-size: 2rem;
  }
}

/* ---- Button css ---- */
.btn-primary {
  background-color: #F18952;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 30px;
  color: #ffffff;
  margin: 0 8px;
  font-family: "SubBtnText";
  font-size: 1.5rem;
  text-transform: none;
  letter-spacing: 0px;
}

.btn-primary:hover {
	background-color: #F1735E;
	color: #ccc;
}

.btn-primary:focus {
	background-color: #F06B70;
	color: #ccc;
}

.btn-primary:active {
	background-color: #F06B70!important;
	color: #000!important;
}

/* ---- Description text ---- */
.text-white-50 {
  color: white !important;
}

.card {
  border-radius: 50px;
}

#inputEmail {
  border-radius: 30px;
}
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding-top: 15rem;
  background: url("");
  background-color: #17153a;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/* nav bar */
.nav-item {
  font-family: "ProximaRegular";
}

/* Sponsors */

header {
  position: relative;
  overflow: hidden;
}

.diagonal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-2deg);
  transform-origin: top left;
}

.diagonal-top {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-2deg);
  transform-origin: bottom right;
}

.diagonal-text {
  position: relative;
  text-align: center;
}

.prev-sponsors-container {
  padding: 1rem 30px 1.5rem;
  background: white;
}

.sponsor-tier {
	color: #
}

.prev-sponsor-img-container {
	padding-bottom: 8em;
}

.prev-sponsors-img {
  max-width: 100%;
  max-height: 3rem;
  margin: 2rem;
  margin-bottom: 1rem;
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  .prev-sponsors-img-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) and (min-width: 600px) {
  .prev-sponsors-img-container {
    width: 33%;
  }
}

.mb-5, .my-5 {
    margin-bottom: 0 !important;
}
